{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block container %}
<div class="top-pad">

    <div class="well">
        <h2>
            Sign up Here!
            <form method="POST" action="/signup" enctype="multipart/form-data">
                {{form.username.label}}{{form.username()}}
                {{form.password.label}}{{form.password()}}
                {{form.email.label}}{{form.email()}}
                {{form.affiliation.label}}{{form.affiliation()}}
                <input type="submit" value="Signup">
            </form>
            Already have an account? Login <a href="{{url_for('login_page')}}">here</a>
        </h2>
    </div>
</div>
{% endblock %}